<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188829032005-1ktc3r2bdlqa28c78clu8r6s4vso353g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188829032005-1ktc3r2bdlqa28c78clu8r6s4vso353g</string>
	<key>API_KEY</key>
	<string>AIzaSyADLgQdqI2Bnhidj2tZL9cuZ7QexffvBvs</string>
	<key>GCM_SENDER_ID</key>
	<string>188829032005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.com.etiqa.ease</string>
	<key>PROJECT_ID</key>
	<string>etiqa-agency-stp</string>
	<key>STORAGE_BUCKET</key>
	<string>etiqa-agency-stp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188829032005:ios:16c104e6991b48824a4d2c</string>
	<key>DATABASE_URL</key>
	<string>https://etiqa-agency-stp.firebaseio.com</string>
</dict>
</plist>