<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361644865187-lfpkled7p7nkgclohigf9ihec7kkv20d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361644865187-lfpkled7p7nkgclohigf9ihec7kkv20d</string>
	<key>API_KEY</key>
	<string>AIzaSyDZFkWoCNttnVv6dY3xkmfxSks8lALYTao</string>
	<key>GCM_SENDER_ID</key>
	<string>361644865187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.com.etiqa.ease.dev</string>
	<key>PROJECT_ID</key>
	<string>etiqa-agency-stp-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>etiqa-agency-stp-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361644865187:ios:eea70622b3b588c420f116</string>
</dict>
</plist>